.button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
  border: none;

  &:hover {
    background-color: @basic-green-2;
  }

  &:focus,
  &:active {
    background-color: @basic-green-2;
    color: (@white, 0.3);
  }
}
