.catalog {
  &--xtra {
    margin-bottom: 35px;
  }
}

.catalog__list,
.catalog__list--xtra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &--xtra {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 1px solid @border-color;
  }
}

.catalog__heading {
  .block-title();
  padding-bottom: 36px;
}
