.catalog {
  &--xtra {
    margin-bottom: 35px;
  }
}

.catalog__list,
.catalog__list--xtra {
  .list-disable();
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;

  &--xtra {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .border-top();
  }
}

.catalog__heading {
  .block-title();
  padding-bottom: 36px;
}
