.contacts {
  background-color: @white;

  .catalog-page &,
  .form-page & {
    background-color: @basic-grey;
  }
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 22px;
}

.contacts__title {
  .title();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
}
