.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  @media (min-width: @tablet) {
    padding: 0;
    justify-content: flex-start;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
  }
}

.copyright__text {
  .text();
  height: 34px;
  font-size: 16px;
  text-decoration: none;
  padding-top: 7px;

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    padding-right: 50px;
    padding-top: 6px;
  }

  @media (min-width: @desktop) {
    padding-top: 8px;
    padding-right: 49px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright__logo {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 34px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;

    &::before:hover {
      fill: @basic-green;
    }

    &::before:focus,
    &::before:active {
      fill: @basic-green;
      opacity: 0.3;
    }

    @media (min-width: @tablet) {
      top: -1px;
      right: 0;
    }
  }
}
