.example {
  background-color: @c-light-grey;

  @media (max-width: @mobile-width-only) {
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, @c-white 57%, @c-basic-grey 0);
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 67px;
    background-image: none;
    background-color: @c-basic-grey;
  }

  @media (min-width: @full-width) {
    display: block;
  }
}

.example--before {
  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to right, @c-basic-grey 100%, @c-light-grey);
  }
}

.example--after {
  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to right, @c-basic-grey 50%, @c-light-grey 50%);
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    padding-right: 110px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 148px;
    padding: 0;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @c-dark-grey;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    word-break: break-word;
  }

  @media (min-width: @desktop-width) {
    width: 87%;
    margin-bottom: 68px;
  }
}

.example__fact {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  background-color: @c-light-grey;
  color: @c-dark-grey;
  order: 2;
  align-self: center;
  margin-top: -7px;

  @media (max-width: @mobile-width-only) {
    width: 87px;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @c-white;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    background-color: @c-basic-grey;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    border: 1px solid @c-special-grey;
    padding: 15px 20px 17px 20px;
    border-radius: 3px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @c-special-grey;
    padding: 15px 20px 17px 20px;
    border-radius: 3px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__cost-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 42px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 25%;
    text-align: right;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @mobile-width-only) {
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  @media (min-width: @tablet-width) {
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 55px;
  }
}

.example__group-numbers {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
    flex-basis: 100%;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0;
  }
}

.example__result {
  @media (max-width: @mobile-width-only) {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &--after {
      margin-top: -49px;
    }
  }

  @media (min-width: @desktop-width) {
    background: none;
    margin: 0;
    padding: 0;

    &--before {
      margin-top: -133px;
    }

    &--after {
      margin-top: -182px;
    }
  }
}

.example__intro {
  @media (min-width: @desktop-width) {
    position: relative;
    padding-right: 110px;
    padding-top: 58px;
    margin-top: -196px;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    width: 124px;
    text-align: center;
    margin-bottom: 10px;

    &:first-child {
      margin-right: 31px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    text-align: center;
    margin-bottom: 10px;

    &:first-child {
      margin-right: 42px;
    }
  }
}
