.example__layout {
  background-color: @basic-grey;
}

.example__title {
  .title();
}

.example__description {
  .text();
}

.example__price {
  .title();
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__number {
  .title();
  font-size: 24px;
  line-height: 24px;
}

.example__profits {
  .text();
  font-size: 12px;
  line-height: 12px;
}

.example__bar {
  width: 228px;
  height: 40px;
}

.example__button {
  .label();
  line-height: 20px;
  border: none;
  color: @black;
}
