.features {
  padding-top: 27px;
  padding-bottom: 42px;
}

.features__title {
  .title();
  margin-bottom: 38px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  height: 60px;
  margin-bottom: 20px;
}

.features__description {
  .text();
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: @basic-green;
  }
}
