.fieldset {
  border: none;
  .reset-indents();

  &--catinfo {
    flex-grow: 3;
    padding-bottom: 27px;
    .border-bottom();
  }

  &--goal {
    flex-grow: 3;
    .border-bottom();
    padding-bottom: 22px;
    padding-top: 22px;
  }

  &--contacts {
    .fieldset__legend {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--additions {
    padding-bottom: 34px;
  }
}

.fieldset .fieldset__label:first-of-type {
  margin-right: 12px;
}

.fieldset__list {
  .list-disable();
  display: flex;
  flex-direction: column;
}

.fieldset__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.fieldset__label {
  .label();
  position: relative;
  user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.fieldset__radio + .fieldset__label,
.fieldset__checkbox + .fieldset__label {
  padding-left: 46px;
}

.fieldset__radio ~ .fieldset__label::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid @special_grey;
}

.fieldset__radio:checked ~ .fieldset__label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: @basic-green;
}

.fieldset__checkbox ~ .fieldset__label::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
}

.fieldset__checkbox:checked ~ .fieldset__label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  background: url("../img/check.svg") no-repeat center;
  background-repeat: no-repeat;
  background-position: center center;
}

.fieldset__input[type="text"],
.fieldset__textarea {
  .label();
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 12px;
  width: 100%;
  height: 45px;
}

.fieldset__textarea {
  display: block;
  height: 150px;
}

.fieldset__legend {
  .block-title();
  line-height: 26px;
  margin: 0;
  background-color: @white;

  &--owner {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 26px;
    margin-bottom: 35px;
  }

  &--comment {
    padding-left: 20px;
    padding-right: 22px;
    margin-bottom: 37px;
    padding-top: 23px;
  }

  &--add {
    padding-left: 20px;
    padding-right: 24px;
    padding-top: 23px;
    margin-bottom: 34px;
  }
}
