.form__button {
  .button();
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0 10px 0;
  margin-bottom: 21px;

  + span {
    .text();
    line-height: 16px;
    display: flex;
    justify-self: center;

    @media (min-width: @tablet) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet) {
    font-size: 20px;
    width: 282px;
    padding: 16px 0 16px 0;
    margin-bottom: 0;
    margin-right: 64px;
  }

  @media (min-width: @desktop) {
    width: 568px;
    margin-right: 83px;
  }
}

.form__layout {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 39px;
  margin-bottom: 27px;

  &.container {
    @media (min-width: @tablet) {
      padding-left: 71px;
      padding-right: 67px;
    }

    @media (min-width: @desktop) {
      padding-left: 110px;
      padding-right: 110px;
      display: grid;
      column-gap: 80px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
    }
  }

  &::before {
    content: "";
    top: 225px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: @border-color;

    @media (min-width: @tablet) {
      content: none;
    }

    @media (min-width: @desktop) {
      content: none;
    }
  }

  &::after {
    content: "";
    right: 0;
    top: 382px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: @border-color;

    @media (min-width: @tablet) {
      content: none;
    }

    @media (min-width: @desktop) {
      content: none;
    }
  }

  @media (min-width: @tablet) {
    padding-top: 65px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 68px;
  }
}

.form__container--button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

  @media (min-width: @tablet) {
    flex-direction: row;
    margin-bottom: 72px;
    padding-left: 71px;
    padding-right: 70px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    padding-left: 111px;
    margin-bottom: 82px;
  }
}
