.header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid @white;

  @media (min-width: @tablet) {
    padding-top: 24px;
    border: none;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 56px;
    min-height: 114px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 54px;
  position: relative;
}

.header__overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: @white;
  min-height: 66px;

  @media (min-width: @tablet) {
    position: static;
    padding: 0;
    align-items: center;
    min-height: 52px;
  }

  @media (min-width: @desktop) {
    background-color: transparent;
  }
}

.header__logo {
  position: relative;

  &::before {
    content: "";
    top: -12px;
    position: absolute;
    height: 38px;
    width: 33px;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: 0;
      content: "";
      position: absolute;
      height: 50px;
      width: 60px;
      background-image: url("../img/logo-tablet.svg");
      background-position: left;
    }

    @media (min-width: @desktop) {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      height: 59px;
      width: 70px;
      background-image: url("../img/logo-desktop.svg");
    }
  }

  @media (min-width: @tablet) {
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 3px;
  }

  @media (min-width: @desktop) {
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 0;
  }
}

.header__logo img {
  display: inline-block;
  width: 101px;
  height: 18px;
  margin-left: 90px;
  align-items: center;

  @media (min-width: @tablet) {
    margin-left: 73px;
  }

  @media (min-width: @desktop) {
    width: 118px;
    height: 22px;
    margin-left: 83px;
  }
}


.header__overlay > label {
  cursor: pointer;
  display: block;
  position: relative;
  bottom: 10px;
  width: 24px;
  height: 2px;
  background-color: @black;

  &::before {
    content: "";
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    top: 8px;
    background-color: @black;
    transform-origin: 0% 0%;
  }

  &::after {
    content: "";
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    top: 16px;
    background-color: @black;
    transform-origin: 0% 100%;
  }

  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: none;
  }
}

.header__nav {
  min-width: @phone;
  position: relative;
  top: -274px;
  right: 20px;
  min-height: 199px;
  padding: 24px 0 24px 0;
  background-color: @white;
  transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  z-index: 1;

  @media (min-width: @tablet) {
    min-width: 440px;
    position: static;
    transition: none;
    padding: 0;
    min-height: 24px;
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop) {
    min-width: 480px;
    position: static;
    transition: none;
    padding: 0;
    min-height: 24px;
    background-color: transparent;
  }
}

.header__nav-list {
  .list-disable();

  @media (min-width: @tablet) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }

  @media (min-width: @desktop) {
    padding-top: 0;
  }
}

.header__nav-link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  padding: 22px 0 24px 0;

  &:hover:not(&--active) {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    justify-self: flex-end;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-top: 0;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 32px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: @basic-green;
      }
    }
  }

  @media (min-width: @desktop) {
    .title-xl;
    color: @white;
    padding-bottom: 2px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: @white;
      }
    }
  }
}

.header__toggle {
  position: absolute;
  visibility: hidden;
}

.header__toggle:checked ~ .header__nav {
  top: 53px;
}

.header__toggle:checked + .main {
  margin-top: 205px;
  transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
