.header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid @white;

  @media (min-width: @tablet) {
    padding-top: 24px;
    border: none;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 56px;
    min-height: 114px;
  }
}

.header__container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: @white;
  min-height: 65px;

  & input {
    position: absolute;
    visibility: hidden;
    right: 0;

    &:checked ~ .header__nav-list {
      top: 65px;
    }

    &:checked ~ .header__overlay {
      margin-bottom: 197px;
      transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }

    &:checked ~ .header__overlay span {
      opacity: 1;
      transform: rotate(45deg) translate(-6px, -14px);
    }

    &:checked ~ .header__overlay span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ .header__overlay span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, 10px);
    }

    & input:checked ~ ul {
      transform: none;
    }

    @media (min-width: @tablet) {
      display: none;
    }

    @media (min-width: @desktop) {
      display: none;
    }
  }
}

.header__logo {
  position: relative;

  &::before {
    content: "";
    top: -13px;
    position: absolute;
    height: 38px;
    width: 33px;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: 0;
      content: "";
      position: absolute;
      height: 50px;
      width: 60px;
      background-image: url("../img/logo-tablet.svg");
      background-position: left;
    }

    @media (min-width: @desktop) {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      height: 59px;
      width: 70px;
      background-image: url("../img/logo-desktop.svg");
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 3px;
  }

  @media (min-width: @desktop) {
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 0;
  }
}

.header__logo img {
  display: inline-block;
  width: 101px;
  height: 18px;
  margin-left: 90px;
  align-items: center;

  @media (min-width: @tablet) {
    margin-left: 73px;
  }

  @media (min-width: @desktop) {
    width: 118px;
    height: 22px;
    margin-left: 83px;
  }
}

.header__overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: @white;
  padding-top: 23px;
  padding-bottom: 21px;

  & > label {
    cursor: pointer;
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    z-index: 3;
    right: 0;
    bottom: 3px;
    user-select: none;

    & span {
      display: block;
      width: 24px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: @black;
      z-index: 3;
      transform-origin: 3px 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      @media (min-width: @tablet) {
        display: none;
        top: 0;
      }

      @media (min-width: @desktop) {
        display: none;
      }
    }
  }
}

.header__nav-list {
  .list-disable();
  color: @black;
  position: absolute;
  top: -133px;
  left: 0;
  width: 100%;
  background-color: @white;
  transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  & .header__nav-item {
    width: 100%;
    padding: 20px 0 23px 0;
    text-align: center;
    border-top: 1px solid @menu-border;

    &:last-of-type {
      border-bottom: 1px solid @menu-border;

      @media (min-width: @tablet) {
        border-bottom: 0;
      }

      @media (min-width: @desktop) {
        border-bottom: 0;
      }
    }

    @media (min-width: @tablet) {
      border-top: 0;
    }

    @media (min-width: @desktop) {
      border-top: 0;
    }
  }
}

.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  .title-xl();
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}
