.item-card {
  display: flex;
  flex-direction: column;
}

.item-card__wrapper {
  display: flex;
}

.item-card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__title {
  .label();
  line-height: 20px;
  color: @special_dark-grey-2;
  text-decoration: none;
}

.item-card__subtitle {
  .text();
  font-size: 12px;
  line-height: 16px;
}
