.map {
  width: 320px;
}

.map__layout {
  width: 100%;
  background-color: @white;
  background-image: url("/source/img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
