.page-footer__layout {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: @basic-grey;
}

.page-footer__logo {
  width: 101px;
  height: 18px;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }
}
