.page-footer__layout {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: @basic-grey;

  @media (min-width: @tablet) {
    padding-top: 56px;
    padding-bottom: 57px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    padding-top: 58px;
  }
}

.page-footer__logo {
  width: 128px;
  height: 24px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin-bottom: 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__copyright {
  width: 100%;
  align-self: flex-start;

  @media (min-width: @tablet) {
    width: 164px;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
  }
}
