.programs {
  @media (min-width: @desktop) {
    padding-top: 82px;
  }
}

.programs__list {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 20px;
  .list-disable();

  @media (min-width: @tablet) {
    row-gap: 30px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    row-gap: 0;
  }
}

.programs__item {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-left: 20px;
  background-color: @basic-grey;
  position: relative;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 22px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: @basic-green;

      @media (min-width: @tablet) {
        top: 92px;
        left: auto;
        right: 62px;
        height: 200px;
        width: 200px;
      }

      @media (min-width: @desktop) {
        top: 47px;
        left: 52px;
        height: 100px;
        width: 100px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 29px;
      height: 50px;
      width: 36px;
      background-image: url("../img/cat-slim.svg");
      background-repeat: no-repeat;
      z-index: 2;

      @media (min-width: @tablet) {
        top: 81px;
        left: auto;
        right: 92px;
        height: 192px;
        width: 140px;
        background-image: url("../img/cat-slim-tabl.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }

      @media (min-width: @desktop) {
        top: 41px;
        left: 67px;
        right: 92px;
        height: 97px;
        width: 70px;
        background-image: url("../img/cat-slim-desktop.svg");
      }
    }

    @media (min-width: @tablet) {
      padding-right: 279px;
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 22px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: @basic-green;

      @media (min-width: @tablet) {
        top: 91px;
        left: auto;
        right: 60px;
        height: 200px;
        width: 200px;
      }

      @media (min-width: @desktop) {
        top: 47px;
        left: 52px;
        right: 60px;
        height: 100px;
        width: 100px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 13px;
      height: 28px;
      width: 67px;
      background-image: url("../img/cat-pro.svg");
      background-repeat: no-repeat;
      z-index: 2;

      @media (min-width: @tablet) {
        top: 135px;
        left: auto;
        right: 28px;
        height: 112px;
        width: 268px;
        background-image: url("../img/cat-pro-tabl.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }

      @media (min-width: @desktop) {
        top: 67px;
        left: 33px;
        right: 28px;
        height: 56px;
        width: 134px;
        background-image: url("../img/cat-pro-desktop.svg");
      }
    }

    &:nth-child(2) .programs__link::before {
      left: 99px;

      @media (min-width: @tablet) {
        left: 129px;
        top: 9px;
      }

      @media (min-width: @desktop) {
        left: 130px;
      }
    }

    @media (min-width: @tablet) {
      padding-right: 312px;
    }
  }

  @media (min-width: @tablet) {
    padding-bottom: 57px;
    padding-top: 77px;
    padding-left: 52px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 59px;
    padding-right: 55px;
    padding-top: 77px;
    padding-left: 52px;
  }
}

.programs__title {
  .title();
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  padding-left: 71px;
  margin-bottom: 29px;

  @media (min-width: @tablet) {
    .title-big();
    padding-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop) {
    .title-big();
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.programs__link {
  .title();
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 47px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    left: 101px;
    top: 6px;
    background-image: url("../img/arrow.svg");

    @media (min-width: @tablet) {
      left: 133px;
      top: 9px;
    }

    @media (min-width: @desktop) {
      left: 136px;
    }
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    .title-big();
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    .title-big();
    font-size: 20px;
    line-height: 30px;
    padding-right: 52px;
  }
}

.programs__description {
  .text();
  padding: 0;
  margin: 0;
  padding-bottom: 22px;
  margin-bottom: 19px;
  .border-bottom();

  @media (min-width: @tablet) {
    .text-big();
    height: 96px;
    padding: 0;
    margin-bottom: 51px;
    border-bottom: none;
  }

  @media (min-width: @desktop) {
    .text-big();
    border-bottom: none;
    margin-bottom: 2px;
  }
}
