.programs {
  padding-bottom: 27px;

  @media (min-width: @tablet) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    padding-bottom: 0;
  }
}

.programs__list {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 20px;
  .list-disable();

  @media (min-width: @tablet) {
    row-gap: 30px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    row-gap: 0;
  }
}

.programs__item {
  padding-bottom: 18px;
  padding-right: 20px;
  padding-top: 30px;
  padding-left: 20px;
  background-color: @basic-grey;

  @media (min-width: @tablet) {
    padding-bottom: 53px;
    padding-right: 279px;
    padding-top: 77px;
    padding-left: 53px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 55px;
    padding-right: 61px;
    padding-top: 77px;
    padding-left: 52px;
  }
}

.programs__title {
  .title();
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  padding-left: 69px;
  padding-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: @basic-green;

    @media (min-width: @tablet) {
      top: -8px;
      left: 426px;
      height: 200px;
      width: 200px;
    }

    @media (min-width: @desktop) {
      top: -40px;
      left: 0;
      height: 100px;
      width: 100px;
    }
  }

  &--slim::after {
    content: "";
    position: absolute;
    left: 6px;
    height: 50px;
    width: 36px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: @tablet) {
      top: -8px;
      left: 463px;
      height: 192px;
      width: 140px;
      background-image: url("../img/cat-slim-tabl.svg");
      background-repeat: no-repeat;
      z-index: 2;
    }

    @media (min-width: @desktop) {
      top: -45px;
      left: 13px;
      height: 97px;
      width: 70px;
      background-image: url("../img/cat-slim-desktop.svg");
    }
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -9px;
    height: 28px;
    width: 67px;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: @tablet) {
      top: 31px;
      left: 363px;
      height: 112px;
      width: 268px;
      background-image: url("../img/cat-pro-tabl.svg");
    }

    @media (min-width: @desktop) {
      top: -13px;
      left: -16px;
      height: 56px;
      width: 134px;
      background-image: url("../img/cat-pro-desktop.svg");
    }
  }

  @media (min-width: @tablet) {
    .title-big();
    padding-left: 0;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop) {
    .title-big();
    padding-left: 162px;
    padding-bottom: 73px;
  }
}

.programs__link {
  .title();
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 47px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    right: 0;
    background-image: url("../img/arrow.svg");
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    .title-big();
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    .title-big();
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__description {
  .text();
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 19px;
  .border-bottom();

  @media (min-width: @tablet) {
    .text-big();
    padding-bottom: 48px;
    border-bottom: none;
  }

  @media (min-width: @desktop) {
    .text-big();
    padding-bottom: 23px;
    border-bottom: none;
  }
}
