.promo {
  padding-top: 27px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 302px;
  background-image: linear-gradient(to bottom, #68b738 70%, white 30%);
}

.promo__layout {
  position: relative;
  display: flex;
  flex-direction: column;
}

.promo__title {
  .title();
  line-height: 36px;
  text-align: center;
  color: @white;
  margin-bottom: 25px;
}

.promo__subtitle {
  .title();
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 302px;
}

.promo__button {
  .button();
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
}
