.promo {
  background-image: url("/source/img/index-background-desktop.png");
}


.promo__title {
  color: @white;
}

.promo__subtitle {
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
