.promo {
  width: 320px;
}

.promo__layout {
  width: 100%;
  height: auto;
  background-image: url("/source/img/index-background-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__title {
  .title();
  color: @white;
}

.promo__subtitle {
  .title();
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
