.social {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 21px 0;
  border-bottom: 1px solid @border-color;
  border-top: 1px solid @border-color;

  @media (min-width: @tablet) {
    width: 129px;
    border: none;
  }
}

.social__list {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .list-disable();
}

.social__item {
  min-height: 22px;
}

.social__link {
  display: block;
  position: relative;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--vk {
    &::before {
      width: 28px;
      height: 22px;
      background-image: url("../img/vk.svg");
    }
  }

  &--insta {
    &::before {
      width: 20px;
      height: 20px;
      background-image: url("../img/insta.svg");
    }
  }

  &--fb {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url("../img/fb.svg");
    }
  }

  &::before:hover {
    fill: @basic-green;
  }

  &::before:focus,
  &::before:active {
    fill: @basic-green;
    opacity: 0.3;
  }
}
