.social {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @border-color;
  border-top: 1px solid @border-color;
  padding-top: 21px;
  padding-bottom: 19px;

  @media (min-width: @tablet) {
    width: 130px;
    padding: 0;
    border: none;
  }
}

.social__list {
  min-width: 130px;
  min-height: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .list-disable();

  @media (min-width: @tablet) {
    min-width: 130px;
    min-height: 33px;
  }
}

.social__item {
  vertical-align: middle;
}

.social__link {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--vk {
    padding-top: 4px;

    &::before {
      left: -2px;
      width: 22px;
      height: 13px;
      background-image: url("../img/vk.svg");

      @media (min-width: @tablet) {
        top: 5px;
        left: 13px;
        padding: 0;
        width: 29px;
        height: 17px;
        background-image: url("../img/icon_vkontakte-tabl.svg");
      }
    }

    @media (min-width: @tablet) {
      padding: 0;
    }
  }

  &--insta {
    padding-top: 3px;
    padding-left: 3px;

    &::before {
      left: -6px;
      width: 16px;
      height: 16px;
      background-image: url("../img/insta.svg");

      @media (min-width: @tablet) {
        top: 3px;
        left: 5px;
        width: 23px;
        height: 23px;
        background-image: url("../img/icon_instagram-tabl.svg");
      }
    }

    @media (min-width: @tablet) {
      padding: 0;
    }
  }

  &--fb {
    padding-left: 1px;

    &::before {
      right: 7px;
      width: 12px;
      height: 19px;
      background-image: url("../img/fb.svg");

      @media (min-width: @tablet) {
        top: -1px;
        right: -6px;
        width: 15px;
        height: 33px;
        background-image: url("../img/icon_facebook-tabl.svg");
      }
    }

    @media (min-width: @tablet) {
      padding: 0;
    }
  }

  &::before:hover {
    fill: @basic-green;
  }

  &::before:focus,
  &::before:active {
    fill: @basic-green;
    opacity: 0.3;
  }
}
