.special-offer {
  width: 280px;
  height: 289px;
  background-color: @basic-green;
}

.special-offer__wrapper {
  display: flex;
}

.special-offer__description {
  color: @white;
  text-align: center;
}
