/* basic */

.visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* paddings */

.paddings() {
  padding-left: @phone-padding;
  padding-right: @phone-padding;

  @media (min-width: @tablet) {
    padding-left: @tablet-padding;
    padding-right: @tablet-padding;
  }

  @media (min-width: @desktop) {
    padding-left: @desktop-padding;
    padding-right: @desktop-padding;
  }
}

.set-container() {
  @media (min-width: @tablet) {
    min-width: @tablet-max-width;
  }

  @media (min-width: @desktop) {
    min-width: @desktop-max-width;
  }
}

.reset-paddings() {
  padding-left: 0;
  padding-right: 0;
}

/* fonts */

.title() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  color: @black;
  margin: 0;
}

.title-big() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  color: @black;
  margin: 0;
}


.title-xl() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: @black;
  margin: 0;
}

.title-xxl() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
  color: @black;
  margin: 0;
}

.text() {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  margin: 0;
}

.text-big() {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: @special_dark-grey;
  margin: 0;
}

.label() {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.button() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  padding: 6px 109px;
}

.block-title() {
  .title();
  font-size: 24px;
  line-height: 24px;
}

.list-disable() {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reset-indents() {
  margin: 0;
  padding: 0;
}

.border-top() {
  border-top: 1px solid @border-color;
}

.border-bottom() {
  border-bottom: 1px solid @border-color;
}
