/* shadows */

.shadow-normal() {
  box-shadow: 1px 3px rgba(0, 0, 0, 0.16);
}

.shadow-hover() {
  box-shadow: 2px 4px rgba(0, 0, 0, 0.19);
}

.shadow-pressed() {
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}

/* visually-hidden */

.visually-hidden () {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
