// Colors
@c-black: #000000;
@c-light-black: #111111;
@c-white: #ffffff;
@c-basic-green: #68B738;
@c-basic-green-2: #5EAA2F;
@c-basic-grey: #F2F2F2;
@c-basic-gray-2: #EBEBEB;
@c-special-grey: #CDCDCD;
@c-special-grey-2: #666666;
@c-dark-grey: #444444;
@c-dark-grey-2: #222222;
@c-status-error: #FF8282;
@c-light-grey: #EAEAEA;
@c-input-border: #E7E7E7;
@c-border-menu: #E6E6E6;
@c-border-footer: #D9D9D9;
@c-background-green: #63A73B;
@c-scale: #DCDCDC;

// Viewports
@tablet-width: 768px;
@full-tablet-width: 1100px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
@full-width: 1920px;
@cooperation-full: 105px;
@map-margin-1440: 720px;
@map-margin-768: 384px;
@map-margin-320: 160px;
@margin-button: 80px;
@catalogs-top-1: 105px;
@catalogs-top-2: 95px;
@surprise-half-width: 39px;
