/* colors */

@basic-green: #68B738;
@basic-green-2: #5EAA2F;

@basic-grey: #F2F2F2;
@basic_grey-2: #EBEBEB;
@special_grey: #CDCDCD;
@special_grey-2: #666666;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;

@status_error: #FF8282;
@white: #FFFFFF;
